
.coursePlan{
    /* margin-top: 86px; */
    /* max-width: 900px; */
    height:100vh;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: black;
}

.wwylwhite{
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%; /* 33.76px */

}

.wwylgreen{
    color: #A6EF67;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
}




.CoursePlanContainer{
    display: flex;
    margin-top: 48px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}

.CourseWeek{
    border-radius: 8px;
    padding-bottom: 20px;
    min-width: 300px;
    max-width: 440px;
    flex: 1 0 0;
    /* background-image: linear-gradient(161deg,transparent,rgba(166,239,103,.14)); */

    background: #101323;
}

.courseWeekImg1
{
    background-image: url('./../../Assests/Images/array.png');
    height: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    
}
.cwline{
    background-image: linear-gradient(90deg,#a6ef67,#817f7f);
    height: 0.5px;
    

}

.courseWeekImg2
{
    background-image: url('./../../Assests/Images/treeDS.png');
    height: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    
}.courseWeekImg3
{
    background-image: url('./../../Assests/Images/searching.png');
    height: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}.courseWeekImg4
{
    background-image: url("./../../Assests/Images/recursion.png");
    height: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    
}


.courseWeektext{
    font: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:15px;
}

.courseWeektheading{
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%; /* 33.76px */
}

.courseWeektdis{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    color: #d0d5dd;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%; /* 33.76px */
}

.dayNO{
    color: #A6EF67;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;

}

.dayItem{
}