.navbar {
  text-decoration: none;
  background-color: #99b888;
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  top: 0;
  height: 60px;
  font-size: 12px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-family: IBM Plex Sans;
}
.navbar-brand{
  margin-left: -50px;
}
.navbar button {
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  /* transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .navbar button:disabled {
  pointer-events: none;
 }
 
.navbar-brand {
  justify-content: center;
  align-content: center;
}
.logo {
  width: 100%;
  height: min-content;
  clip-path: inset(10% 0% 40% 10%);
  display: block;
  margin: auto 30px;
}



@media screen and (min-width: 768px) {

  .navbar-brand{
    /* margin-left: 50px; */
  
    }
  /* Adjust the logo size for larger screens */
  .mbil {
   display: none;
  }
  .navbar-header{
    display: none;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
}

.left-menu {
  display: flex;
}

.nav-item {
  margin-right: 5px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
}


.mbil {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
}

.profile-icon img {
  margin-top: auto;
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
}
.profile-icon {
  background-color: white;
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 40px;
  border-radius: 100%;
}
.hamburger-menu {
  display: none;
  cursor: default;
  text-decoration: none;
  flex-direction: column;
  padding: 5px;
  position: absolute;
  margin-left: 10px;
  left: 0;
}

.bar {
  height: 3px;
  width: 20px;
  background-color: #fff;
  margin-bottom: 5px;
  align-self: flex-end;
}

.mobile-menu {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  background-color: #99b888;

  padding: 10px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  /* color: #00ff00;  */
  border: 2px solid;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: -12px;
}
.c1{
  margin-bottom: 17rem;
}
.c2{
  margin-bottom: 21rem;
}

.close:hover,
.close:focus {
  color: #13385b; /* Change close button color on hover */
  text-decoration: none;
  cursor: pointer;
}

/* Add hover effect to clickable text */
.modal-content span:hover {
  text-decoration: underline;
  cursor: pointer;
}
input{
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  width: 80%;
  border-radius: 3px;
  text-decoration: none;
  height: 30px;
}
.btn{
  width: 85%;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 40px;
  border-radius: 12px;
  background: #A6EF67;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .left-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar-brand{
  margin-left: 30px;

  }
}

@media screen and (max-width: 998px)
{
  .navbar-brand{
    margin-right: 100px;
  
    }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body{
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: url(4949813.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

} */

.wrapper{
  /* position: relative; */
  /* backdrop-filter: blur(20px); */
  width: 400px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(120, 109, 109);
 
}

.wrapper .formbox{
  width:100%;
  padding: 40px;



}

.formbox h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(10, 10, 10);
}

.inputbox{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left :35px;
  transform: translate(-50%);
  font-size: 15px;
  color: rgb(4, 4, 4);
  transition: .5s;
  pointer-events: none;
}

.inputbox input:focus~label,
.inputbox input:valid~label{
  top:-5px;
}

.inputbox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline:none;
}

.buttum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttum button
{
  padding: 6px 5px;
  background-color: rgb(45, 76, 115);
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  color:rgb(245, 244, 244);
  font-family:'Poppins', sans-serif ;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  min-width: 100%;
  transition: 0.3s ease-in;
}


.buttum button:hover{
  transform: scale(1.04);
  transition: 0.3s ease-out;
}
.remember{
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  margin: -15px 0 15px;
  font-weight: 500;
  color: rgb(6, 6, 6);
}
.remember a {
  text-decoration: none;
  color: rgb(7, 7, 7);
}

.remember a:hover{
  text-decoration: underline;
}
.register p{
  justify-content: center;
  display: flex;
  color: rgb(1, 1, 1);
  gap: 5px;



}
.register {
  text-decoration: none;
  color: rgb(157, 147, 147);

}
.register span:hover{
 text-decoration: underline;
}
a ,button{
  cursor: pointer;
}




