
* {    
    margin: 0;

    padding: 0 ;
}

.completeBodyHome
{
    background: #000;
   
}

@media (max-width:720px) {
    .completeBodyHome{
        padding-bottom: 80px;
    }
    
}

.bodycontentHome{
    margin: 0 5.35714285714% 0 5.35714285714% ;

}

.topblack{
    width: 100% ;
    height: 62px;
    
}


/*

bootcampbox
bootcampheading
bootcampdisc
*/

.height20{
    height:20px;
    background:black;
}

.registerLink{
    text-decoration: none;
}







/* Checkout Page*/


/* CSS */


.fit49{
    height:49px;

}



/* mandatory*/

.fmandatory{
    color: #ff0000;
    font-family: IBM Plex Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 105.5%; /* 13.715px */

}

.ferr{
    color: #ff0000;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 105.5%; /* 13.715px */

}

.MPOs{
    cursor:pointer;
}